table{
    border: 2px solid;
    width: 150px;
    background-color: rgb(179, 172, 172);
    border-radius: 10px;
    box-shadow: inset -16px ;
    
    height: 150px;
    }
    td{
        
        border-radius: 50%;
        margin:10px ;
        border: none;
    }
    
    button{
        background-color: rgb(56, 58, 58);
        color:white;
        border-radius: 50%;
        width:50px;
        font-size: 20px;
        border: none;
        box-shadow: inset;
        margin: 6px;
        height: 50px;
    box-shadow: rgb(248, 243, 243);
    }
    button:hover{
        background-color: rgb(148, 97, 122);
    }
    input{
        padding: 10px;
        border-radius: 20px;
        width:305px ;
        height: 30px;
        border:1px solid rgb(151, 147, 147);
       background-color: white;
       font-size: 45px;
       font-family: calibri;
    }
    button .input{
        width: 100px;
    }
     .equal{
        background-color:rgb(34, 119, 156) ;
        color:white;
        border: none;
        height: 100px;
        border-radius: 10px;
        padding: 0px;	
    }
    button .equal{
        padding: 250px;
        border-radius: 10px; 
    }
    .equal:hover{
        background-color: rgb(65, 79, 15);
    }
    .ac{
        background-color: rgb(95, 56, 62);
    }
    .plus{
        background-color: rgb(225, 121, 121);

    }
    .minus{
        background-color: rgb(115, 142, 142);
    }
    .division{
        background-color: rgb(196, 151, 96);
    }
    .delet{
        background-color: rgb(207, 106, 67);
    }
    .multiply{
        background-color: rgb(38, 82, 98);
    }
    .percentage{
        background-color: rgb(58, 47, 82);
    }